@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-style: "Plus Jakarta Sans", sans-serif;
}

/* Overlay styles for loading and success */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: #e9eef5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

#overlay-content {
    width: 80%;
    max-width: 500px;
}

.dotlottie-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-center {
    text-align: center;
}

.loading-center svg {
    display: block;
    margin: 0 auto;
}

.footer-text {
    display: block;
    text-align: center;
    width: 100%;
}
